[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "meta/dotbot-apt"]
	path = meta/dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt.git
[submodule "meta/dotbot-pip"]
	path = meta/dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
[submodule "meta/dotbot-pacaur"]
	path = meta/dotbot-pacaur
	url = https://github.com/ajlende/dotbot-pacaur
